.div1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative;
}
.service-heading-free{
    margin-bottom: 0;
    text-align: center;
    font-family: 'Times New Roman';
    padding: 16px 16px;
    color: whitesmoke;
    font-size: 24px;
}
.c-chooseGuru__value:nth-child(2n-1) {
    
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}
.fig{
    height: 40px;
    width: 40px;
    margin-bottom: 0.5rem;
    text-align: center;
}
.service-img{
  height: 60%;
  width: 100%;
}